body { 
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-color: #0a4ca1;
    background-size: 80vh;
    background-position: center;
    background-repeat: no-repeat;  
}


.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  input {

    display: block;
    margin: 0 auto;
    min-height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  button {
      border-radius: 10px;
  }

  #resultado { 
      padding: 20px;
      color: #ffffff;
      display: block;
      margin: 0 auto;
      padding: 20px;
      
  }

  .form {

    box-shadow: 5px 5px 7px rgba(90, 153, 226, 0.849);
    padding: 20px;
    height: 300px;
    width: 300px;
    background-color: rgba(15, 89, 201, 0.774);
    display: block;
    margin: 0 auto;
    position:relative;
    top: 5%;
    border-radius: 10px;
}